.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sun {
  mask: url(/images/header/sun.svg) no-repeat center;
}

.moon {
  mask: url(/images/header/moon.svg) no-repeat center;
}

.icon {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-border);
}

/* 
    Set up the basic structure of the toggle component. 
    Using flexbox to align items and create spacing between the elements.
  */
.toggle {
  --offset: 0.125em;
  --diameter: 1em;
  position: relative;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  input:focus-visible + .display {
    outline: 2px solid var(--color-toggle-focus-ring);
    outline-offset: 4px;
  }

  /* "off" state */
  input:checked + .display {
    background-color: var(--color-toggle-bg-on);
  }

  /* "on" state */
  input:checked + .display::before {
    transform: translateX(100%) translateY(-50%);
  }
}

.display {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: content-box;
  width: calc(var(--diameter) * 2 + var(--offset) * 2);
  height: calc(var(--diameter) + var(--offset) * 2);
  border: 0.1em solid var(--color-toggle-border);
  position: relative;
  border-radius: 100vw;
  background-color: var(--color-toggle-bg-off);
  transition:
    background-color 250ms,
    transform 250ms;

  &::before {
    content: '';
    z-index: 2;
    position: absolute;
    top: 50%;
    inset-inline-start: var(--offset);
    box-sizing: border-box;
    width: var(--diameter);
    height: var(--diameter);
    border: 0.1em solid var(--color-toggle-border);
    border-radius: 50%;
    background-color: white;
    transform: translateX(0) translateY(-50%);
    will-change: transform;
    transition: transform 250ms;
  }
}
