@use '../../../styles/variables/colors';

.details {
  border: 1px solid colors.$primary;
  border-radius: 0.25rem;
}

.detailsContent {
  padding: 1rem;
}

.summary {
  padding: 0.5rem;
  padding-left: 1rem;
  color: white;
  background-color: colors.$primary;
}

.summary:hover {
  cursor: pointer;
}
