.details {
  border: 1px solid var(--color-primary);
  border-radius: 0.25rem;

  margin-top: 1em;
  margin-bottom: 1em;

  width: calc(var(--tufte-css-default-width) + 2em);

  @media (max-width: 760px) {
    & {
      width: 100%;
    }
  }
}

/* We can nest spoilers */
.details .details {
  width: unset;
}

.detailsContent {
  padding: 1rem;
}

.summary {
  font-size: 1.25rem;
  padding: 0.5rem;
  padding-left: 1em;
  color: white;
  background-color: var(--color-primary);
}

.summary:hover {
  cursor: pointer;
}
