@use '../../../styles/variables/colors';

.details {
  border: 1px solid colors.$primary;
  border-radius: 0.25rem;

  margin-top: 1rem;

  /* matches Tufte-css for paragraph content */
  width: 55%;

  @media (max-width: 760px) {
    & {
      width: 100%;
    }
  }
}

.detailsContent {
  padding: 1rem;
}

.summary {
  padding: 0.5rem;
  padding-left: 1rem;
  color: white;
  background-color: colors.$primary;
}

.summary:hover {
  cursor: pointer;
}
