.box {
  border: 1px solid;
  border-color: var(--color-border);
  border-radius: var(--border-radius);

  padding: 1em;
  margin-bottom: 2em;

  width: var(--tufte-css-default-width);

  @media (max-width: 760px) {
    & {
      width: unset;
    }
  }
}

/** Ensure that the smaller width isn't double-applied */
.box > details,
details .box {
  width: unset;
}
