@use '../../../styles/variables/colors';
@use '../../../styles/variables/sizes';

.box {
  border: 1px solid colors.$accent;
  border-radius: sizes.$border-radius;

  padding: 1rem 2rem;
  margin-bottom: 2rem;

  /* matches Tufte-css for paragraph content */
  width: 55%;

  @media (max-width: 760px) {
    & {
      width: unset;
    }
  }
}
