@use '../../../styles/variables/colors';
@use '../../../styles/variables/sizes';

.box {
  border: 1px solid colors.$accent;
  border-radius: sizes.$border-radius;

  padding: 1em;
  margin-bottom: 2em;

  width: var(--tufte-css-paragraph-width);

  @media (max-width: 760px) {
    & {
      width: unset;
    }
  }
}

details .box {
  width: unset;
}
