@use './variables/colors';
@use './variables/sizes';
@use './overrides/tufte-override.scss';
@use './overrides/prism-override.scss';

:root {
  /* Align with the global styles provided by Tufte CSS */
  --tufte-css-paragraph-width: 55%;
}

body.dark p > code,
body.dark li > code,
td > code {
  color: orange;
}

section > pre {
  width: var(--tufte-css-paragraph-width);

  @media (max-width: 760px) {
    & {
      font-size: 1rem;
      width: unset;
    }
  }
}

article img {
  width: var(--tufte-css-paragraph-width);
}

.dark article img {
  background-color: white;
}
