@use './overrides/tufte-override.scss';
@use './overrides/prism-override.scss';

:root {
  /* Align with the global styles provided by Tufte CSS */
  --tufte-css-paragraph-width: 55%;
  --border-radius: 0.5rem;
}

:root {
  // Theme colors
  --color-off-black: #151515;

  --color-primary: rgb(35, 87, 132);
  --color-primary-lighter: rgba(35, 87, 132, 0.8);
  --color-secondary: rgb(64, 168, 196);
  --color-tertiary: rgb(188, 219, 223);
  --color-accent: rgb(247, 170, 0);
  --color-accent-darker: rgba(247, 170, 0, 0.8);

  --color-black: rgb(0, 0, 0);
  --color-dark-gray: rgb(50, 50, 50);

  --color-code: light-dark(var(--color-primary), var(--color-accent));
  --color-code-background: light-dark(var(--color-tertiary), var(--color-off-black));
  --color-border: light-dark(var(--color-primary), var(--color-accent));

  --color-lighter: rgba(255, 255, 255, 0.2);
  --color-darker: rgba(0, 0, 0, 0.2);
}

:root.dark {
  color-scheme: dark;
}

:root.light {
  color-scheme: light;
}

p > code,
li > code,
td > code,
.marginnote > code,
.sidenote > code {
  color: var(--color-code);
  background-color: var(--color-code-background);
}

section > pre {
  width: var(--tufte-css-paragraph-width);

  @media (max-width: 760px) {
    & {
      font-size: 1rem;
      width: unset;
    }
  }
}

.dark article img {
  background-color: white;
}
