@import url('./overrides/tufte-override.css');
@import url('./overrides/prism-override.css');

:root {
  /* Align with the global styles provided by Tufte CSS */
  --main-content-default-width: 55%;
  --pre-code-width: 55%;
  --border-radius: 0.5rem;
}

@media (max-width: 760px) {
  :root {
    --main-content-default-width: 100%;
    --pre-code-width: unset;
  }
}

:root {
  /* Theme colors */
  --color-off-white: rgb(247, 247, 247);
  --color-off-white-darker: rgb(235, 235, 235);
  --color-off-black: rgb(21, 21, 21);
  --color-off-black-lighter: rgb(33, 33, 33);

  --color-primary: rgb(35, 87, 132);
  --color-primary-lighter: rgba(35, 87, 132, 0.8);
  --color-secondary: rgb(64, 168, 196);
  --color-tertiary: rgb(188, 219, 223);
  --color-accent: rgb(247, 170, 0);
  --color-accent-darker: rgba(247, 170, 0, 0.8);

  --color-black: rgb(0, 0, 0);
  --color-dark-gray: rgb(50, 50, 50);

  --color-code: light-dark(var(--color-primary), var(--color-accent));
  --color-code-background: light-dark(var(--color-tertiary), var(--color-off-black));
  --color-border: light-dark(var(--color-primary), var(--color-accent));

  --color-lighter: rgba(255, 255, 255, 0.2);
  --color-darker: rgba(0, 0, 0, 0.2);

  --color-background-hover: light-dark(
    var(--color-off-white-darker),
    var(--color-off-black-lighter)
  );

  /* toggle */
  --color-toggle-bg-off: var(--color-secondary);
  --color-toggle-bg-on: var(--color-accent-darker);
  --color-toggle-border: rgba(0, 0, 0, 0.2);
  --color-toggle-focus-ring: #4c9aff;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: dark;
  }
}

:root {
  color-scheme: var(--color-scheme);
}
