.card {
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;

  padding: 2rem;

  max-width: 22rem;

  h2 {
    margin-top: 0;

    span:hover {
      cursor: not-allowed;
    }
  }

  &-header {
    border-bottom: 1px dotted;
    border-bottom-color: inherit;

    a {
      border-bottom: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &-body {
    padding: 1rem 0;
  }

  &-footer {
    display: grid;
    place-items: center;

    border-top: 1px dotted;
    border-top-color: inherit;

    a {
      width: 100%;
      padding: 1rem;
      border-bottom: none;
      font-size: 1.5rem;
    }

    @media (prefers-color-scheme: light) {
      a:hover {
        background-color: var(--color-darker);
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    border-color: white;

    .card-footer {
      a:hover {
        background-color: var(--color-lighter);
      }
    }
  }
}
