@use '../../../styles/variables/colors';

.blog-listing {
  list-style: none;
  padding-bottom: 2rem;

  @media (prefers-color-scheme: light) {
    border-top: 1px dotted colors.$primary;
  }
  @media (prefers-color-scheme: dark) {
    border-top: 1px dotted white;
  }

  ul {
    line-height: 1.5rem;
  }

  a {
    text-decoration: underline;
  }

  p {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
}
