.summary-list {
  padding-left: 0;
  width: var(--main-content-default-width);
}

.summary {
  list-style: none;
  padding-bottom: 2rem;
  border-top: 1px dotted;
  border-top-color: var(--color-border);

  & ul {
    line-height: 1.5rem;
  }

  & a {
    text-decoration: underline;
  }

  & p {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }

  .series-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

    margin-top: 1rem;
    padding-left: 0;

    & li {
      padding-right: 2rem;

      &:not(:first-child) {
        margin-top: 0;
      }

      & a {
        text-decoration: none;
      }
    }
  }
}
