@use "../../../styles/variables/colors";

.nav {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;

  background: colors.$primary;
  width: auto;
  padding: 0 2rem;

  font-size: 1rem;
}

.nav h1 {
  color: white;
}

.nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
}

.nav a:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex;
  align-items: center;

  list-style: none;
}

.theme-container {
  display: flex;
  align-items: center;
}

.theme-container svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: white;
}
