.badge {
  display: inline-block;

  border: 1px solid;
  border-color: var(--color-border);
  border-radius: 0.5rem;

  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem 0.25rem 0.25rem;

  svg {
    // Push the logo slightly up to align with the text
    vertical-align: middle;
    margin-bottom: 2px;
  }
}
