.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: var(--main-content-default-width);
  font-size: 2rem;
  margin-top: 1rem;
  column-gap: 3rem;

  .title-links-container {
    display: flex;
    flex-direction: column;
  }

  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @media screen {
    }

    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;

    li {
      display: inline;
      white-space: nowrap;
      margin-top: 0.25rem;
    }
  }
}
