// Theme colors
$primary: rgb(35, 87, 132);
$secondary: rgb(64, 168, 196);
$tertiary: rgb(188, 219, 223);
$accent: rgb(247, 170, 0);
$accent-darker: rgba(247, 170, 0, 0.8);

$black: rgb(0, 0, 0);
$dark-gray: rgb(50, 50, 50);

$lighter: rgba(255, 255, 255, 0.2);
$darker: rgba(0, 0, 0, 0.2);
