@use "../../../styles/variables/colors";

.badge {
  border: 1px solid colors.$accent-darker;
  border-radius: 0.5rem;

  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
}

.badge--dark {
  border-color: colors.$accent;
}
