@use "../../styles/variables/colors";

.details {
  border: 1px solid colors.$primary;
}

.detailsContent {
  padding: 1rem;
}

.summary {
  padding: 0.5rem;
  color: white;
  background-color: colors.$primary;
}

.summary:hover {
  cursor: pointer;
}
