.main {
  margin: 0 auto;
  max-width: 100ch;

  // Fluidly scale padding down to 1rem at small screen widths
  --relative-padding: calc(100vw - 320px);
  padding-left: calc(var(--relative-padding) / 20 + 1rem);
  padding-right: calc(var(--relative-padding) / 20 + 1rem);
}

.main--dark {
  background-color: black;
  color: white;
}
